<section
  class="text-stone-600 dark:text-stone-400 body-font transition-all min-h-full flex flex-col items-center justify-start md:justify-center"
>
  <div
    class="container mx-auto flex px-5 py-24 items-center justify-center flex-col sm:flex-row gap-4 sm:gap-8 md:gap-16"
  >
    <div
      class="w-4/6 sm:w-3/6 md:w-2/6 flex justify-center items-center min-h-48 transition-all duration-200"
    >
      <img
        class="w-full h-full object-cover object-center transition-all duration-200 shadow-xl rounded-full"
        alt="hero"
        src="https://avatar.iran.liara.run/public/2"
      />
    </div>

    <div class="text-center sm:text-left sm:w-3/6">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-stone-900 dark:text-stone"
      >
        <span class="dark:text-stone-200">Hi! I'm Reymark Bacalso</span>
      </h1>
      <p class="mb-8 leading-relaxed">
        You can call me
        <span
          class="underline underline-offset-4 decoration-2 decoration-solid decoration-yellow-500 dark:decoration-yellow-400 tracking-wide uppesrcase font-medium"
        >
          Marcus</span
        >
        , I am a Software Developer specializing in frontend development with 7
        years of experience. I'm passionate about crafting user-friendly and
        performant web applications. I started my tech career role as a back-end
        developer,where I honed my problem-solving skills, which I now leverage
        to continuously improve the user experience through front-end
        development.
      </p>
      <div
        class="flex flex-col lg:flex-row justify-center md:justify-start gap-2 sm:gap-4 px-4 sm:px-0 w-full"
      >
        <button
          class="w-full sm:w-auto text-center text-stone-100 bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-lg line-clamp-1 flex items-center justify-center gap-4"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 3.75H6.912a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859M12 3v8.25m0 0-3-3m3 3 3-3"
              />
            </svg>
          </span>
          Download CV
        </button>
        <button
          class="w-full sm:w-auto text-center text-stone-700 bg-stone-100 py-2 px-6 focus:outline-none hover:bg-stone-200 rounded text-l flex items-center justify-center gap-4 border-[1px] border-stone-600 dark:border-stone-600"
        >
          <span class="text-base">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
              />
            </svg>
          </span>
          Contact Me
        </button>
      </div>
    </div>
  </div>
</section>
