<section
  class="text-stone-600 body-font overflow-hidden mx-auto max-w-screen-md"
>
  <div class="container px-5 pt-16 sm:pt-8">
    <h3 class="font-bold text-2xl mb-2 dark:text-stone-300 tracking-wide">
      Professional Experience
    </h3>
    <div class="divide-gray-800">
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span
            class="font-semibold title-font text-stone-600 dark:text-stone-300 text-lg"
            >Accenture</span
          >
          <span
            class="mt-1 text-stone-500 dark:text-stone-300 text-sm sm:text-base"
            >Nov 2016 - Feb 2024</span
          >
        </div>
        <div class="md:flex-grow text-stone-700 dark:text-stone-200">
          <h3 class="text-lg font-medium title-font mb-2">
            Application Developer
          </h3>
          <p
            class="leading-relaxed text-stone-600 dark:text-stone-300 text-sm sm:text-base"
          >
            Built and maintained single-page applications for multiple use cases
            like, c-commerce website, open banking monitoring dashboard, fleet
            management dashboard, digital twin dashboard and museum admin
            application using AngularJS, Angular, React, JSP and state
            management libraries such as NGXS.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
