<section
  class="pt-8 text-stone-600 dark:text-stone-400 body-font transition-all flex flex-col items-center justify-start md:justify-center min-h-full mx-auto max-w-screen-md"
>
  <div
    class="container mx-auto px-5 items-center justify-center gap-4 sm:gap-8 md:gap-16"
  >
    <h3 class="font-bold text-2xl mb-6 dark:text-stone-300 tracking-wide">
      About Me
    </h3>
    <p
      class="mb-8 leading-relaxed dark:text-stone-300 w-full text-sm sm:text-base"
    >
      You can call me Marcus, I am a Software Developer specializing in frontend
      development with 7 years of experience. I'm passionate about crafting
      user-friendly and performant web applications.
    </p>
    <p
      class="mb-8 leading-relaxed dark:text-stone-300 text-sm sm:text-base w-full"
    >
      I started my tech career role as a back-end developer, where I honed my
      problem-solving skills, which I now leverage to continuously improve the
      user experience through front-end development.
    </p>
  </div>
</section>
